@model DirectoryListApp.Areas.Directory.Models.DirectoryModel

@{
    ViewBag.Title = "GetDirectoryCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clearfix"></div>
<section class="popular listings portfolio bg-gray">
    <div class="container">
        <div class="row portfolio-items">
            @if (Model.DirectoryModelList.Count > 0)
            {
                foreach (var item in Model.DirectoryModelList)
                {


                    <div class="item col-lg-4 col-md-6 col-xs-12 landscapes sale">
                        <div class="project-single">
                            <div class="project-inner project-head">
                                <div class="homes">
                                    <a href="~/Directory/DirectoryItem/Details/@item.DirectoryItemId" class="homes-img hover-effect">

                                        <img src="@item.PhotoLogo" class="img-responsive" style="height:250px;width:100%" />

                                        <div class="overlay"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="homes-content">
                                <a href="~/Directory/DirectoryItem/Details/@item.DirectoryItemId"><h3>@item.DirectoryItemName</h3></a>
                                <ul class="homes-list clearfix">
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <span>
                                            @item.PermanentAddress
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Call Us @item.DirectoryPhone </span>
                                    </li>
                                </ul>
                                <div class="footer mt-3 img-2">
                                    <a href="#">
                                        <img src="~/Content/images/icons/category.png" width="20" class="mr-2" alt="" />@Utility.GetDirectoryCategoryName(item.DirectoryCategoryId)
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                }
            }
            else
            {
                <h4>No records found!</h4>
            }

        </div>
    </div>
</section>

<nav aria-label="...">
    <ul class="pagination list mt-0">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        @for (int p = 1; p <= ViewBag.TotalPages; p++)
        {
            <li class="page-item">
                <a class="@(p == ViewBag.currentPage ? "btn btn-default" : "") page-link"
                   href="@Url.Action("GetDirectoryCategory", "DirectoryItem", new {Area="Directory", page = p })">@p</a>
            </li>
        }
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

