@model DirectoryListApp.Areas.Directory.Models.DirectoryModel
@{
    ViewBag.Title = "Index";
    Layout =null;
}
@{
    var ent = new DirectoryEntities();
    var result = ent.tblDirectoryCategories.Where(x => true).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- ARCHIVES CSS -->
    <link href="~/Assests/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assests/css/animate.min.css" rel="stylesheet" />
    <link href="~/Assests/css/bootstrap-submenu.css" rel="stylesheet" />
    <link href="~/Assests/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Assests/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Assests/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Assests/css/leaflet.css" rel="stylesheet" />
    <link href="~/Assests/css/map.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assests/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/Assests/linearicon/style.css" rel="stylesheet" />
    <link href="~/Assests/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/Assests/css/dropzone.css" rel="stylesheet" />
    <link href="~/Assests/css/slick.css" rel="stylesheet" />
    <link href="~/Assests/css/styles.css" rel="stylesheet" />
    <link href="~/Assests/skins/default.css" rel="stylesheet" id="style_sheet"/>
    <!-- ARCHIVES JS -->
    <script src="~/Assests/js/jquery-2.2.0.min.js"></script>
    <script src="~/Assests/js/popper.min.js"></script>
    <script src="~/Assests/js/bootstrap.min.js"></script>
    <script src="~/Assests/js/bootstrap-submenu.js"></script>
    <script src="~/Assests/js/rangeslider.js"></script>
    <script src="~/Assests/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/Assests/js/bootstrap-select.min.js"></script>
    <script src="~/Assests/js/jquery.easing.1.3.js"></script>
    <script src="~/Assests/js/jquery.scrollUp.js"></script>
    <script src="~/Assests/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Assests/js/leaflet.js"></script>
    <script src="~/Assests/js/leaflet-providers.js"></script>
    <script src="~/Assests/js/leaflet.markercluster.js"></script>
    <script src="~/Assests/js/moment.min.js"></script>
    <script src="~/Assests/js/daterangepicker.min.js"></script>
    <script src="~/Assests/js/dropzone.js"></script>
    <script src="~/Assests/js/slick.min.js"></script>
    <script src="~/Assests/js/jquery.filterizr.js"></script>
    <script src="~/Assests/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assests/js/jquery.countdown.js"></script>
    <script src="~/Assests/js/maps.js"></script>
    <script src="~/Assests/js/app.js"></script>
    <script src="~/Assests/js/ie10-viewport-bug-workaround.js"></script>

</head>
<body>
    <div class="page_loader"></div>
    <!-- Main header start -->
    <header class="main-header header-transparent sticky-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo" href="#">
                    @*<img src="~/Content/images/uno-logo.png" alt="logo" class="f-logo">*@
                    <p>Gold Privilege Card</p>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav header-ml">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="~/Home/Index" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Listings
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @foreach (var item in result)
                                {
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item"  href="~/Directory/DirectoryItem/GetDirectoryCategory/@item.DirectoryCategoryId">@Utility.GetDirectoryCategoryName(item.DirectoryCategoryId)</a>
                                        @{
                                            var sub = ent.tblDirectorySubCategories.Where(x => x.DirectoryCategoryId == item.DirectoryCategoryId).ToList();
                                        }
                                        <ul class="dropdown-menu">
                                            @foreach (var itemSub in sub)
                                            {
                                                <li><a class="dropdown-item" href="~/Directory/DirectoryItem/GetDirectorySubCategory/@itemSub.DirectorySubCategoryId">@Utility.GetDirectorySubCategoryName(itemSub.DirectorySubCategoryId)</a></li>
                                            }


                                        </ul>
                                    </li>
                                            }
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="~/Account/Login">
                                <i class="flaticon-logout"></i>Sign In
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- Main header end -->

    <!-- Sub banner start -->
    <div class="sub-banner overview-bgi">
        @*<div class="container">
            <div class="breadcrumb-area">
                <h1>Category</h1>
                <ul class="breadcrumbs">
                    <li><a href="index-2.html">Home</a></li>
                    <li class="active">Category</li>
                </ul>
            </div>
        </div>*@
    </div>
    <!-- Sub Banner end -->

    <!-- Listing section start -->
    <div class="listing-section content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <!-- Option bar start -->
                    <div class="option-bar d-none d-xl-block d-lg-block d-md-block d-sm-block">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-sm-7" id="filter">
                                <div class="sorting-options2">
                                    <span class="sort">Sort by:</span>
                                    <select class="selectpicker search-fields" name="default-order" id="AllType">
                                        <option value="1" selected>Default Order</option>                                        
                                        <option value="2">Newest listing</option>
                                        <option value="3">Oldest listing</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="resultview">
                        @Html.Partial("_IndexN",Model)
                    </div>
                    
                </div>
                <!--Sidemenu-->
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-right">
                        <!-- Advanced search start -->
                        <div class="widget-3 advanced-search">
                            <h3 class="sidebar-title">Search</h3>
                            <div class="s-border"></div>
                            <form method="GET">
                                <div class="form-group">
                                    <input type="text" name="search" class="form-control selectpicker search-fields" placeholder="What are you looking for?">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="location" class="form-control selectpicker search-fields" placeholder="Location">
                                </div>
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="all-categories">
                                        <option>All Categories</option>
                                        <option>Shops</option>
                                        <option>Hotels</option>
                                        <option>Restaurant</option>
                                        <option>Fitness</option>
                                    </select>
                                </div>
                               
                                <div class="form-group mb-0">
                                    <button class="search-button">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Listing section end -->

    @Html.Partial("Footer")
</body>

</html>

<script>
    $('#filter').on('change', '#AllType', function () {
        var href = '/Directory/DirectoryItem/IndexN';
        var AllType = $(this).val();
        $.get(href, { AllType }, function (data) {
            $('#resultview').html(data);
        })
    })
</script>






