@model DirectoryListApp.Areas.Directory.Models.DirectoryModel
@{
    Layout =null;
}
@{
    var ent = new DirectoryEntities();
    var result = ent.tblDirectoryCategories.Where(x => true).ToList();
    var newregister = ent.tblDirectoryItems.Where(x => true).OrderByDescending(x => x.DirectoryItemId).Take(4).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ARCHIVES CSS -->
    <link href="~/Content/CSS/jquery-ui.css" rel="stylesheet" />
    @*<link href="~/Content/CSS/all5.0.css" rel="stylesheet" />*@
    <link href="~/Content/CSS/search.css" rel="stylesheet" />
    <link href="~/Content/CSS/animate.css" rel="stylesheet" />
    <link href="~/Content/CSS/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/CSS/lightcase.css" rel="stylesheet" />
    <link href="~/Content/CSS/owl-carousel.css" rel="stylesheet" />
    <link href="~/Content/CSS/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/menu.css" rel="stylesheet" />
    <link href="~/Content/CSS/slick.css" rel="stylesheet" />
    <link href="~/Content/CSS/map-animation.css" rel="stylesheet" />
    <link href="~/Content/CSS/styles.css" rel="stylesheet" />
    <link href="~/Content/CSS/default.css" rel="stylesheet" id="color" />

    <link href="~/Content/CSS/timedropper.css" rel="stylesheet" />
    <link href="~/Content/CSS/datedropper.css" rel="stylesheet" />

    <link href="~/Content/CSS/leaflet.css" rel="stylesheet" />
    <link href="~/Content/CSS/leaflet-gesture-handling.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/leaflet.markercluster.css" rel="stylesheet" />
    <link href="~/Content/CSS/leaflet.markercluster.default.css" rel="stylesheet" />
    <!-- ARCHIVES JS -->
    <script src="~/Scripts/JS/jquery.min.js"></script>
    <script src="~/Scripts/JS/jquery-ui.js"></script>
    <script src="~/Scripts/JS/bootstrap.min.js"></script>
    <script src="~/Scripts/JS/mmenu.min.js"></script>
    <script src="~/Scripts/JS/mmenu.js"></script>
    <script src="~/Scripts/JS/smooth-scroll.min.js"></script>
    <script src="~/Scripts/JS/search.js"></script>
    <script src="~/Scripts/JS/slick.min.js"></script>
    <script src="~/Scripts/JS/slick.js"></script>
    <script src="~/Scripts/JS/owl.carousel.js"></script>
    <script src="~/Scripts/JS/jquery.form.js"></script>
    <script src="~/Scripts/JS/searched.js"></script>
    <!-- MAIN JS -->
    <script src="~/Scripts/JS/script.js"></script>

   
</head>
<body class="inner-pages">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <header id="header-container">
            <!-- Topbar -->
            <div class="header-top">
                <div class="container">
                    <div class="top-info hidden-sm-down">
                        <div class="call-header">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> 123456789</p>
                        </div>
                        <div class="address-header">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Baneshwor</p>
                        </div>
                        <div class="mail-header">
                            <p><i class="fa fa-envelope" aria-hidden="true"></i> info@listing.com</p>
                        </div>
                    </div>
                    <div class="top-social hidden-sm-down">
                        <div class="login-wrap">
                            <ul class="d-flex">
                                <li><a href="~/Account/Login"><i class="fa fa-user"></i> Login</a></li>
                                <li><a href="~/Account/Register"><i class="fa fa-sign-in"></i> Register</a></li>
                            </ul>
                        </div>
                        <div class="social-icons-header">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- Topbar / End -->
            <!-- Header -->
            <div id="header" >
                <div class="container">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <span class="text-center" style="color: black;font-size: 24px;">
                                LISTING
                            </span>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1">
                            <ul id="responsive">
                                <li>
                                    <a class="current" href="~/Home/Index">Home</a>
                                </li>
                                <li>
                                    <a href="#">Listings</a>
                                    <ul>
                                        @foreach (var item in result)
                                        {
                                            <li>
                                                <a href="~/Directory/DirectoryItem/GetDirectoryCategory/@item.DirectoryCategoryId">@Utility.GetDirectoryCategoryName(item.DirectoryCategoryId)</a>
                                                @{
                                                    var sub = ent.tblDirectorySubCategories.Where(x => x.DirectoryCategoryId == item.DirectoryCategoryId).ToList();
                                                }
                                                <ul>
                                                    @foreach (var itemSub in sub)
                                                    {
                                                        <li><a href="~/Directory/DirectoryItem/GetDirectorySubCategory/@itemSub.DirectorySubCategoryId">@Utility.GetDirectorySubCategoryName(itemSub.DirectorySubCategoryId)</a></li>
                                                    }


                                                </ul>
                                            </li>
                                                    }

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                </li>
                                <li><a href="#">Blog</a></li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>

                            </ul>
                        </nav>

                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->
                    </div>
                    <!-- Left Side Content / End -->
                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->
        <!-- START SECTION LISTING DETAIL-->
        <section class="listing blog details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 blog-pots">
                        <!-- Block heading end -->
                        @Html.HiddenFor(model => model.DirectoryItemId)
                        <div class="row">
                            <div class="col-md-12">
                                <div class="detail-wrapper">
                                    <div class="detail-wrapper-body">
                                        <div class="listing-title-bar">
                                            <h3>@Model.DirectoryItemName </h3>
                                            <div class"mt-3">
                                                <a href="#listing-location" class="listing-address">
                                                    <i class="fa fa-map-marker pr-2 ti-location-pin mrg-r-5"></i> @Model.PermanentAddress
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- main slider carousel items -->
                                <div id="listingDetailsSlider" class="carousel listing-details-sliders slide mb-30">
                                    <h5 class="mb-4">Gallery</h5>
                                    <div class="carousel-inner">
                                        <div class="active item carousel-item" data-slide-number="0">
                                            <img src="../Content/images/slider.jpeg" class="img-fluid" alt="slider-listing">
                                        </div>
                                       
                                    </div>
                                    
                                </div>
                                <div class="blog-info details overview">
                                    <h5 class="mb-4">Overview</h5>
                                    <p class="mb-3">@Model.Details</p>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- cars content -->
                        
                        <!-- START SECTION ASSIGNED AGENTS -->
                        <section class="reviews comments">
                            <h3 class="mb-5">Reviews</h3>
                            <div class="row mb-5">
                                @for (int i = 0; i < 3; i++)
                                {
                                    <ul class="col-12 commented pl-0" style="margin-left:50px;">
                                        <li class="comm-inf">
                                            <div class="col-md-10 comments-info">
                                                <div class="conra">
                                                    <h5 class="mb-2">Mary Smith</h5>
                                                    <div class="rating-box">
                                                        <div class="detail-list-rating mr-0">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="mb-4 rest">May 30 2020</p>
                                                <p>sed.</p>

                                            </div>
                                        </li>

                                    </ul>
                                }
                               
                            </div>
                            
                        </section>
                        <section class="reviews leve-comments details">
                            <div id="add-review" class="add-review-box">
                                <!-- Add Review -->
                                <h3 class="listing-desc-headline margin-bottom-20 mb-4">Add Review</h3>
                                <span class="leave-rating-title mb-3">Your rating for this listing</span>
                                <!-- Rating / Upload Button -->
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <!-- Leave Rating -->
                                        <div class="clearfix"></div>
                                        <div class="leave-rating margin-bottom-30 mr-2">
                                            <input type="radio" name="rating" id="rating-1" value="1" />
                                            <label for="rating-1" class="fa fa-star"></label>
                                            <input type="radio" name="rating" id="rating-2" value="2" />
                                            <label for="rating-2" class="fa fa-star"></label>
                                            <input type="radio" name="rating" id="rating-3" value="3" />
                                            <label for="rating-3" class="fa fa-star"></label>
                                            <input type="radio" name="rating" id="rating-4" value="4" />
                                            <label for="rating-4" class="fa fa-star"></label>
                                            <input type="radio" name="rating" id="rating-5" value="5" />
                                            <label for="rating-5" class="fa fa-star"></label>
                                        </div>
                                        <div class="clearfix">
                                            <p>0 / 5</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12 data">
                                        <form action="#">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" placeholder="First Name" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" placeholder="Last Name" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="8" placeholder="Review" required></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-lg mt-2">Submit Review</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- END SECTION ASSIGNED AGENTS -->
                    </div>
                    <aside class="col-lg-4 col-md-12 car">
                        <div class="widget">
                            <!-- Start Agent Information -->
                            <div class="sidebar widget-boxed mt-33 mt-5">
                                <div class="widget-boxed-header">
                                    <h4><i class="far fa-user pr-3"></i>Contact Person Info</h4>
                                </div>
                                <div class="widget-boxed-body">
                                    <div class="sidebar-widget author-widget2">
                                        <div class="author-box clearfix">
                                            <img src="~/Content/images/no-person.jpg" alt="author-image" class="author__img">
                                            <h4 class="author__title">@Model.ContactPersonName</h4>
                                            @*<p class="author__meta">Posted 3 days ago</p>*@
                                        </div>
                                        <ul class="author__contact">
                                            <li><span class="la la-map-marker"><i class="fa fa-map-marker"></i></span>@Utility.GetPalikaName(Model.AddressPalika)-@Model.AddressWard,@Utility.GetDistrictName(Model.AddressDistrict)</li>
                                            <li><span class="la la-phone"><i class="fa fa-phone" aria-hidden="true"></i></span><a href="#">@Model.ContactPersonPhone</a></li>
                                            <li><span class="la la-envelope-o"><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="#">@Model.Email</a></li>
                                        </ul>    
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- End Agent Information -->

                            <div class="widget widget_listings my-5">
                                <div class="widget-boxed-header">
                                    <h4><i class="fa fa-map-marker pr-3"></i>Latest Listings</h4>
                                </div>
                                <div class="widget-boxed-body">
                                    <ul>
                                        @foreach (var item in newregister)
                                        {
                                            var eachitem = ent.tblDirectoryDetails.Where(x => x.DirectoryItemId == item.DirectoryItemId).ToList();
                                            foreach (var itm in eachitem)
                                            {
                                                <li>
                                                    <a href="~/Directory/DirectoryItem/Details/@item.DirectoryItemId">
                                                        @if (itm.PhotoLogo != null)
                                                        {
                                                            <img src="@itm.PhotoLogo" class="img-responsive" alt=""/>
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Images/NoImage (1).png" alt="Photo" class="img-responsive"/>
                                                        }
                                                    </a>
                                                    <div class="overflow-hidden">
                                                        <span class="cat mt-0"><a href="~/Directory/DirectoryItem/Details/@item.DirectoryItemId">@item.DirectoryItemName</a></span>
                                                        <h4><a href="#">@Utility.GetPalikaName(Convert.ToInt32(itm.AddressPalika))- @itm.AddressWard, @Utility.GetDistrictName(Convert.ToInt32(itm.AddressDistrict)),@Utility.GetStateName(Convert.ToInt32(itm.AddressState))</a></h4>
                                                        <span class="rating__star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                    </div>
                                                </li>
                                            }


                                        }
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="recent-post tags">
                                <div class="widget-boxed-header">
                                    <h4><i class="fas fa-tags pr-3"></i>Popular Tags</h4>
                                </div>
                                <div class="widget-boxed-body">
                                    <div class="tags">
                                        <span><a href="#" class="btn btn-outline-primary mr-2">Business</a></span>
                                        <span><a href="#" class="btn btn-outline-primary">Restaurant</a></span>
                                    </div>
                                    <div class="tags">
                                        <span><a href="#" class="btn btn-outline-primary mr-2">Cafe</a></span>
                                        <span><a href="#" class="btn btn-outline-primary">Hotels</a></span>
                                    </div>
                                    <div class="tags">
                                        <span><a href="#" class="btn btn-outline-primary mr-2">Gym</a></span>
                                        <span><a href="#" class="btn btn-outline-primary">Cinema</a></span>
                                    </div>
                                    <div class="tags">
                                        <span><a href="#" class="btn btn-outline-primary mr-2">Real Estates</a></span>
                                        <span><a href="#" class="btn btn-outline-primary">Store</a></span>
                                    </div>
                                    <div class="tags no-mb">
                                        <span><a href="#" class="btn btn-outline-primary mr-2">Conference</a></span>
                                        <span><a href="#" class="btn btn-outline-primary">Places</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- END SECTION LISTING DETAIL -->
        
    </div>
  
    
</body>

</html>

