@model DirectoryListApp.Areas.Directory.Models.DirectoryModel
@{
    Layout =null;
}
@{
    var ent = new DirectoryEntities();
    var result = ent.tblDirectoryCategories.Where(x => true).ToList();
    var newregister = ent.tblDirectoryItems.Where(x => true).OrderByDescending(x => x.DirectoryItemId).Take(4).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- ARCHIVES CSS -->
    <link href="~/Assests/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assests/css/animate.min.css" rel="stylesheet" />
    <link href="~/Assests/css/bootstrap-submenu.css" rel="stylesheet" />
    <link href="~/Assests/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Assests/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Assests/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Assests/css/leaflet.css" rel="stylesheet" />
    <link href="~/Assests/css/map.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assests/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/Assests/linearicon/style.css" rel="stylesheet" />
    <link href="~/Assests/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/Assests/css/dropzone.css" rel="stylesheet" />
    <link href="~/Assests/css/slick.css" rel="stylesheet" />
    <link href="~/Assests/css/styles.css" rel="stylesheet" />
    <link href="~/Assests/skins/default.css" rel="stylesheet" id="style_sheet" />
    

   <style>
       #map-contact { 
            height: 500px;    
            width: 680px;            
          }

       
.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */


   </style>
</head>
<body>
    <div class="page_loader"></div>
    <!-- Main header start -->
    <header class="main-header header-transparent sticky-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo" href="#">
                    @*<img src="~/Content/images/uno-logo.png" alt="logo" class="f-logo">*@
                    <p>Gold Privilege Card</p>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav header-ml">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="~/Home/Index" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Listings
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @foreach (var item in result)
                                {
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" href="~/Directory/DirectoryItem/GetDirectoryCategory/@item.DirectoryCategoryId">@Utility.GetDirectoryCategoryName(item.DirectoryCategoryId)</a>
                                        @{
                                            var sub = ent.tblDirectorySubCategories.Where(x => x.DirectoryCategoryId == item.DirectoryCategoryId).ToList();
                                        }
                                        <ul class="dropdown-menu">
                                            @foreach (var itemSub in sub)
                                            {
                                                <li><a class="dropdown-item" href="~/Directory/DirectoryItem/GetDirectorySubCategory/@itemSub.DirectorySubCategoryId">@Utility.GetDirectorySubCategoryName(itemSub.DirectorySubCategoryId)</a></li>
                                            }


                                        </ul>
                                    </li>
                                            }
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="~/Account/Login">
                                <i class="flaticon-logout"></i>Sign In
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- Main header end -->
    <!-- Sub banner start -->
    <div class="sub-banner overview-bgi"></div>
    <!-- Sub Banner end -->

    <!-- Listing details page start -->
    <div class="listing-details-page content-area-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Heading listing 3 start -->
                    <div class="heading-listing-3">
                        <h2>@Model.DirectoryItemName</h2>
                        <span class="rent">@Utility.GetDirectoryCategoryName(Model.DirectoryCategoryId)</span>
                        <div class="clearfix"></div>
                        <div class="mb-30">
                            <div class="location clearfix">
                                <i class="flaticon-pin"></i>@Model.PermanentAddress
                            </div>
                            
                                @if (Model.DirectoryReviewModelList.Count > 0)
                                {
                                    double count = Model.DirectoryReviewModelList.Count;
                                    double rate = 0;
                                    foreach (var item in Model.DirectoryReviewModelList)
                                    {
                                        rate += (double)item.ReviewRating;
                                    }
                                    var actualrating =Math.Round( rate / count,1);
                                    var avg = Math.Round(rate / count);
                                    <div class="ratings-2">
                                        <span class="ratings-box">@actualrating/5</span>
                                        @if (avg == 1)
                                        {
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>                                                
                                        }
                                        @if (avg == 2)
                                        {
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>                                                
                                        }
                                        @if (avg == 3)
                                        {
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>                                                
                                        }
                                        @if (avg == 4)
                                        {
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>                                               
                                        }
                                        @if (avg == 5)
                                        {      
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                
                                        }
                                        <span>( @count Reviews )</span>
                                    </div>

                                }
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <!-- main slider carousel items -->
                    <div id="listingDetailsSlider" class="carousel listing-details-sliders slide mb-40">
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="@Model.PhotoLogo" class="img-fluid" alt="slider-listing">
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- main slider carousel items -->

                    <!-- listing description start -->
                    <div class="listing-description mb-40">
                        <h3 class="heading-2">
                            Description
                        </h3>
                        <p>@Model.Details</p>
                    </div>
                    @if (Model.Latitude != 0 && Model.Longitude != 0)
                    {
                         <!-- Location start -->
                        <div class="location mb-50">
                            <div class="map">
                                <h3 class="heading-2">Location</h3>
                                <div id="gmap" style="width:700px; height: 500px;"></div>
                            </div>
                        </div>
                    }
                   

                    <!-- Reviews start -->
                    <div class="reviews">
                        @{ 
                            var countt = Model.DirectoryReviewModelList.Count();
                        }
                        <h3 class="heading-2">Reviews (@countt)</h3>
                        @if (Model.DirectoryReviewModelList.Any())
                        {
                            foreach (var item in Model.DirectoryReviewModelList)
                            {
                                <ul class="comments">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <h5>@item.RevFirstName @item.RevLastName<span class="f-right">@Convert.ToDateTime(@item.ReviewDate).ToLongDateString()</span></h5>
                                                </div>                                                
                                                    <div class="ratings-2">
                                                        @if (item.ReviewRating == 1)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        }
                                                        @if (item.ReviewRating == 2)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        }
                                                        @if (item.ReviewRating == 3)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        }
                                                        @if (item.ReviewRating == 4)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        }
                                                        @if (item.ReviewRating == 5)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        }
                                                    </div>
                                               
                                                <p>@item.Review</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <h4>No Reviews!</h4>
                        }
                    </div>

                    <!-- add review start -->
                    <div class="contact-2 add-review ca mtb-50">
                        <h3 class="heading-2 clearfix mb-0">Add Review</h3>
@using (Html.BeginForm("AddReview", "DirectoryItem"))
{
    @Html.HiddenFor(model => model.DirectoryItemId)
                        <div class="row mb-30">
                            <div class="col-lg-8 col-md-8">
                                <div class="add-review-text clearfix">
                                    <span class="leave-rating-title">Your rating  for this listing : </span>
                                        
                                        <div class="row mb-4">
                                            <div class="col-md-6">
                                                <!-- Leave Rating -->
                                                <div class="clearfix"></div>
                                                <div class="ratings-3">
                                                    @*<i class="fa fa-star" name="revmodel.ReviewRating" id="rating-5" value="5" ></i>
                                                    <i class="fa fa-star" name="revmodel.ReviewRating" id="rating-4" value="4"></i>
                                                    <i class="fa fa-star" name="revmodel.ReviewRating" id="rating-3" value="3"></i>
                                                    <i class="fa fa-star" name="revmodel.ReviewRating" id="rating-2" value="2"></i>
                                                    <i class="fa fa-star" name="revmodel.ReviewRating" id="rating-1" value="1"></i>*@



                                                    @*<input type="radio" name="revmodel.ReviewRating" id="rating-5" value="1" />
                                                    <label for="rating-5" class="fa fa-star"></label>
                                                    <input type="radio" name="revmodel.ReviewRating" id="rating-4" value="4" />
                                                    <label for="rating-4" class="fa fa-star"></label>
                                                    <input type="radio" name="revmodel.ReviewRating" id="rating-3" value="3" />
                                                    <label for="rating-3" class="fa fa-star"></label>
                                                    <input type="radio" name="revmodel.ReviewRating" id="rating-2" value="2" />
                                                    <label for="rating-2" class="fa fa-star"></label>
                                                    <input type="radio" name="revmodel.ReviewRating" id="rating-1" value="5" />
                                                    <label for="rating-1" class="fa fa-star"></label>*@
                                                    <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                                        <input type="radio" id="star5" name="revmodel.ReviewRating" value="5" /><label for="star5" title="5 star"></label>
                                                        <input type="radio" id="star4" name="revmodel.ReviewRating" value="4" /><label for="star4" title="4 star"></label>
                                                        <input type="radio" id="star3" name="revmodel.ReviewRating" value="3" /><label for="star3" title="3 star"></label>
                                                        <input type="radio" id="star2" name="revmodel.ReviewRating" value="2" /><label for="star2" title="2 star"></label>
                                                        <input type="radio" id="star1" name="revmodel.ReviewRating" value="1" /><label for="star1" title="1 star"></label>
                                           

                                                    </div>

                                            </div>
                                                </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                                    <div class="form-group col-md-6">
                                        @Html.TextBoxFor(model => model.revmodel.RevFirstName, new { @class = "form-control", @placeholder = "First Name" })
                                    </div>
                                
                              
                                    <div class="form-group col-md-6">
                                        @Html.TextBoxFor(model => model.revmodel.RevLastName, new { @class = "form-control", @placeholder = "Last Name" })
                                    </div>
                              
                               
                                    <div class="form-group col-md-6">
                                        @Html.TextBoxFor(model => model.revmodel.RevEmail, new { @class = "form-control", @placeholder = "Email" })
                                    </div>
                                
                                <div class="form-group col-md-12">
                                    @Html.TextAreaFor(model => model.revmodel.Review, new { @class = "form-control", @placeholder = "Review" })
                                </div>
                                <a href="~/Directory/DirectoryItem/AddReview">
                                    <input type="submit" value="Submit Review" class="btn btn-md button-theme" />
                                    @*<button type="submit" class="btn btn-primary btn-lg mt-2">Submit Review</button>*@
                                </a>

                        </div>
}
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-right">
                        <!-- Our Team sidebar start -->
                        <div class="our-agent-sidebar">
                            <div class="p-20">
                                <h3 class="sidebar-title">Contact Person Info</h3>
                                <div class="s-border"></div>
                            </div>
                            <div id="carouselExampleIndicators5" class="carousel slide text-center" data-ride="carousel">
                                <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="team-1 team-3">                                              
                                                    <div class="team-details text-left">
                                                        <h5><a href="user-profile.html">@Model.ContactPersonName</a></h5>
                                                        <div class="contact">
                                                            <ul>
                                                                <li>
                                                                    <i class="flaticon-pin"></i><a>@Utility.GetPalikaName(Model.AddressPalika)-@Model.AddressWard,@Utility.GetDistrictName(Model.AddressDistrict)</a>
                                                                </li>
                                                                <li>
                                                                    <i class="flaticon-mail-1"></i><a>&nbsp; @Model.Email</a>
                                                                </li>
                                                                <li>
                                                                    <i class="flaticon-phone"></i><a>@Model.ContactPersonPhone</a>
                                                                </li>
                                                                <li>
                                                                    <i class="flaticon-fax"></i><a></a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            

                                </div>
                            </div>
                        </div>

                        <!-- Recent listing start -->
                        <div class="widget recent-listing">
                            <h3 class="sidebar-title">Recent Listing</h3>
                            <div class="s-border"></div>
                            @foreach (var item in newregister)
                            {
                                var eachitem = ent.tblDirectoryDetails.Where(x => x.DirectoryItemId == item.DirectoryItemId).ToList();
                                foreach (var itm in eachitem)
                                {
                                    var rating = ent.tblReviews.Where(x => x.DirectoryItemId == item.DirectoryItemId).ToList();
                                    <div class="media mb-4">
                                        <a class="pr-3" href="~/Directory/DirectoryItem/Details/@item.DirectoryItemId">
                                            @if (itm.PhotoLogo != null)
                                            {
                                                <img src="@itm.PhotoLogo" class="media-object" alt="" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/NoImage (1).png" alt="Photo" class="media-object" />
                                            }                                        
                                        </a>
                                        <div class="media-body align-self-center">
                                            <h5>
                                                <a href="~/Directory/DirectoryItem/Details/@item.DirectoryItemId">@item.DirectoryItemName</a>
                                            </h5>
                                            <div class="listing-post-meta">
                                               @Utility.GetPalikaName(Convert.ToInt32(itm.AddressPalika))- @itm.AddressWard, @Utility.GetDistrictName(Convert.ToInt32(itm.AddressDistrict)),@Utility.GetStateName(Convert.ToInt32(itm.AddressState))
                                            </div>
                                            @if (rating.Count > 0)
                                            {
                                                double count = rating.Count;
                                                double rate = 0;
                                                foreach (var i in rating)
                                                {
                                                    rate += (double)i.ReviewRating;
                                                }
                                                var avg = Math.Round(rate / count);

                                                if (avg == 1)
                                                {
                                                    <span class="rating__star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </span>
                                                }
                                                if (avg == 2)
                                                {
                                                    <span class="rating__star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </span>
                                                }
                                                if (avg == 3)
                                                {
                                                    <span class="rating__star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </span>
                                                }
                                                if (avg == 4)
                                                {
                                                    <span class="rating__star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </span>
                                                }
                                                if (avg == 5)
                                                {
                                                    <span class="rating__star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            }
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Listing details page end -->

    @Html.Partial("Footer")


    <!-- ARCHIVES JS -->
    <script src="~/Assests/js/jquery-2.2.0.min.js"></script>
    <script src="~/Assests/js/popper.min.js"></script>
    <script src="~/Assests/js/bootstrap.min.js"></script>
    <script src="~/Assests/js/bootstrap-submenu.js"></script>
    <script src="~/Assests/js/rangeslider.js"></script>
    <script src="~/Assests/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/Assests/js/bootstrap-select.min.js"></script>
    <script src="~/Assests/js/jquery.easing.1.3.js"></script>
    <script src="~/Assests/js/jquery.scrollUp.js"></script>
    <script src="~/Assests/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Assests/js/leaflet.js"></script>
    <script src="~/Assests/js/leaflet-providers.js"></script>
    <script src="~/Assests/js/leaflet.markercluster.js"></script>
    <script src="~/Assests/js/moment.min.js"></script>
    <script src="~/Assests/js/daterangepicker.min.js"></script>
    <script src="~/Assests/js/dropzone.js"></script>
    <script src="~/Assests/js/slick.min.js"></script>
    <script src="~/Assests/js/jquery.filterizr.js"></script>
    <script src="~/Assests/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assests/js/jquery.countdown.js"></script>
    <script src="~/Assests/js/maps.js"></script>
    <script src="~/Assests/js/app.js"></script>
    <script src="~/Assests/js/ie10-viewport-bug-workaround.js"></script>
    <!-- MAIN JS -->
    <script src="~/Scripts/JS/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAus9_M-59f9xBR4JK7_dH2MdWeSGmVS6M&callback=initMap"
            async defer></script>
    <script>

// Location enable to write
// Get Latitude and Longitude for using google map
var map;
function initMap()
{
    var latitude =parseFloat( @Model.Latitude); // YOUR LATITUDE VALUE
    var longitude =parseFloat( @Model.Longitude); // YOUR LONGITUDE VALUE
    debugger;
    //if (latitude == "0" && longitude == "0") {
    //    latitude = 27.707575175;
    //    longitude = 85.321166278;
    //} else {
    //    latitude = parseFloat(latitude);
    //    longitude = parseFloat(longitude);
    //}

    var myLatLng = { lat: latitude, lng: longitude };

    map = new google.maps.Map(document.getElementById('gmap'), {
        center: myLatLng,
        zoom: 14,
        disableDoubleClickZoom: true, // disable the default map zoom on double click
    });

    // Update lat/long value of div when anywhere in the map is clicked
    google.maps.event.addListener(map, 'click', function (event) {
        $('#Latitude').val(event.latLng.lat());
        $('#Longitude').val(event.latLng.lng());
    });

    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        //title: $('#Name').val(),

        // setting latitude & longitude as title of the marker
        // title is shown when you hover over the marker
        title: latitude + ', ' + longitude
    });

    // Update lat/long value of div when the marker is clicked
    marker.addListener('click', function (event) {
        $('#Latitude').val(event.latLng.lat());
        $('#Longitude').val(event.latLng.lng());
    });

}

    </script>
</body>

</html>

