@using DirectoryListApp
@{
    var ent = new DirectoryEntities();    
    var category = ent.tblDirectoryCategories.Where(x => true).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- ARCHIVES CSS -->
    <link href="~/Content/CSS/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/CSS/all5.0.css" rel="stylesheet" />
    <link href="~/Content/CSS/search.css" rel="stylesheet" />
    <link href="~/Content/CSS/animate.css" rel="stylesheet" />
    <link href="~/Content/CSS/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/CSS/lightcase.css" rel="stylesheet" />
    <link href="~/Content/CSS/owl-carousel.css" rel="stylesheet" />
    <link href="~/Content/CSS/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/menu.css" rel="stylesheet" />
    <link href="~/Content/CSS/slick.css" rel="stylesheet" />
    <link href="~/Content/CSS/map-animation.css" rel="stylesheet" />
    <link href="~/Content/CSS/styles.css" rel="stylesheet" />
    <!-- ARCHIVES JS -->
    <script src="~/Scripts/JS/jquery.min.js"></script>
    <script src="~/Scripts/JS/jquery-ui.js"></script>
    <script src="~/Scripts/JS/bootstrap.min.js"></script>
    <script src="~/Scripts/JS/mmenu.min.js"></script>
    <script src="~/Scripts/JS/mmenu.js"></script>
    <script src="~/Scripts/JS/smooth-scroll.min.js"></script>
    <script src="~/Scripts/JS/search.js"></script>
    <script src="~/Scripts/JS/slick.min.js"></script>
    <script src="~/Scripts/JS/slick.js"></script>
    <script src="~/Scripts/JS/owl.carousel.js"></script>
    <script src="~/Scripts/JS/jquery.form.js"></script>
    <script src="~/Scripts/JS/searched.js"></script>
    <!-- MAIN JS -->
    <script src="~/Scripts/JS/script.js"></script>

    <link href="~/Content/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/nepali.datepicker.js"></script>
    <link href="~/Content/nepali.datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/select2.full.js"></script>
    <link href="~/Scripts/select2.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />

</head>
<body class="home-14">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <header id="header-container" class="header head-tr">
            <!-- Topbar -->
            <div class="header-top head-tr">
                <div class="container">
                    <div class="top-info hidden-sm-down">
                        <div class="call-header">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> 123456789</p>
                        </div>
                        <div class="address-header">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Baneshwor</p>
                        </div>
                        <div class="mail-header">
                            <p><i class="fa fa-envelope" aria-hidden="true"></i> info@listing.com</p>
                        </div>
                    </div>
                    <div class="top-social hidden-sm-down">
                        @*<div class="login-wrap">
                            <ul class="d-flex">
                                
                                <li><a href="~/Account/Register"><i class="fa fa-sign-in"></i> Register</a></li>
                            </ul>
                        </div>*@
                        <div id="loggedin">
                            <span class="text-center" style="color:white;font-size:12px;">
                                @Html.Partial("_Login_Partial")
                            </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="social-icons-header">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- Topbar / End -->
            <!-- Header -->
            <div id="header" class="head-tr bottom">
                <div class="container">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <span class="text-center" style="color: white;font-size: 24px;">
                                LISTING
                            </span>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1 head-tr">
                            <ul id="responsive">
                                <li>
                                    <a class="current" href="~/Admin/HomeAdmin/Index">Home</a>
                                </li>
                                <li>
                                    <a href="#">SetUp</a>
                                    <ul>
                                        <li><a href="~/Admin/CommonSetup/Category">Directory Category</a></li>
                                        <li><a href="~/Admin/CommonSetup/SubCategory">Directory SubCategory</a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Directories</a>
                                    <ul>
                                        <li><a href="~/Admin/CommonSetup/DirectoryList">Directory</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog</a></li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        @*<div id="loggedin">
                            <span class="text-center" style="color:white;font-size:12px;">
                                @Html.Partial("_Login_Partial")
                            </span>
                        </div>*@
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->
                        
                    </div>
                    <!-- Left Side Content / End -->
                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->
        <!-- STAR HEADER SEARCH -->
        <section id="hero-area" class="parallax-search overlay" data-stellar-background-ratio="0.5" style="background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(/Content/images/slider.jpeg) no-repeat center top;">
            <div class="hero-main" id="heading">
                <div class="container">
                    <div class="row">
                        <div class="col-8"style="margin-left:200px;">
                            <div class="hero-inner">
                                <!-- Welcome Text -->
                                <div class="welcome-text">
                                    <h1 class="mb-2">What are you searching for?</h1>
                                    <!-- <p class="h1">We help you get:
                                        <br class="d-md-none">
                                        <span class="typed border-bottom"></span>
                                    </p> -->
                                </div>
                                <!--/ End Welcome Text -->
                                <!-- Search Form -->
                                <div class="trip-search">
                                    <form class="form" id="filter">
                                        <!-- Form Lookin for -->
                                        <div class="form-group looking">
                                            <div class="first-select wide">
                                                <div class="main-search-input-item">
                                                    <input type="text" id="SearchId" placeholder="What are you searching for?" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ End Form Lookin for -->
                                        <!-- Form Button -->
                                        <div class="form-group button">
                                            <button class="btn" type="button" id="SearchBtn">Search</button>
                                        </div>
                                        <div class="form-group button">
                                            <a class="btn" style="width:200px;" href="~/Directory/DirectoryItem/AdvanceSearch">
                                                Advanced Search
                                            </a>
                                        </div>

                                        <!--/ End Form Button -->
                                    </form>
                                </div>
                                <!--/ End Search Form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HEADER SEARCH -->
        <div id="ResultDisplay" class="well well-small"></div>
        @RenderBody()

        <!-- START SECTION FEATURE CATEGORIES -->
        <section class="feature-categories">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-title">
                            <h2>Categories</h2>
                        </div>
                    </div>
                </div>
                <!-- /row -->
                <div class="row">
                    @if (category.Count > 0)
                    {
                        foreach (var itmCategory in category)
                        {
                            var count = ent.tblDirectoryItems.Where(x => x.DirectoryCategoryId == itmCategory.DirectoryCategoryId).Count();
                         <!-- Single category -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="small-category-2">
                                    <div class="small-category-2-thumb img-1">
                                        <a href="~/Directory/DirectoryItem/GetDirectoryCategory/@itmCategory.DirectoryCategoryId">
                                            @if (itmCategory.CategoryIcon != null)
                                            {
                                                <img src="@itmCategory.CategoryIcon" height="50"width="50" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/NoImage (1).png" alt="Photo" height="50"width="50" />
                                            }
                                           
                                        </a>
                                    </div>
                                    <div class="sc-2-detail">
                                        <h4 class="sc-jb-title"><a href="~/Directory/DirectoryItem/GetDirectoryCategory/@itmCategory.DirectoryCategoryId">@itmCategory.DirectoryCategoryName</a></h4>
                                        <span>@count Listings</span>
                                    </div>
                                </div>
                            </div>
                    <!-- Single category -->
                        }

                    }

                </div>
                <!-- /row -->
            </div>
        </section>
        <!-- END SECTION FEATURE CATEGORIES -->
        <!-- START FOOTER -->
        <footer class="first-footer" style="margin-top:15px;">
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="netabout">
                                <a href="index.html" class="logo">
                                    <span style="font-size: xx-large;color: white;">
                                        LISTING
                                    </span>
                                </a>
                                <p></p>
                            </div>
                            <div class="contactus">
                                <ul>
                                    <li>
                                        <div class="info">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <p class="in-p">Baneshwor</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <p class="in-p">123456789</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <p class="in-p ti">support@listing.com</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget quick-link clearfix">
                                <h3 class="widget-title">Quick Links</h3>
                                <div class="quick-links">
                                    <ul class="one-half mr-5">
                                        <li><a href="~/Home/Index">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="#">Listing Details</a></li>
                                        <li><a href="dashboard.html">Dashboard</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li class="no-pb"><a href="blog-list.html">Blog List</a></li>
                                    </ul>
                                    <ul class="one-half">
                                        <li><a href="blog-grid.html">Blog</a></li>
                                        <li><a href="pricing-table.html">Pricing</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="faq.html">Our Faq</a></li>
                                        <li class="no-pb"><a href="listings-full-grid.html">Listings</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="newsletters">
                                <h3>Newsletters</h3>
                                <p>Sign Up for Our Newsletter to get Latest Updates and Offers. Subscribe to receive news in your inbox.</p>
                            </div>
                            <form class="bloq-email mailchimp form-inline" method="post">
                                <label for="subscribeEmail" class="error"></label>
                                <div class="email">
                                    <input type="email" id="subscribeEmail" name="EMAIL" placeholder="Enter Your Email">
                                    <input type="submit" value="Subscribe">
                                    <p class="subscription-success"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-footer">
                <div class="container">
                    <p>Softech Foundation Pvt. Ltd. ©2020 All rights reserved. </p>
                    <ul class="netsocials">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        <!-- END FOOTER -->

    </div>
    <!-- Wrapper / End -->
    <script src="~/Scripts/alertify.min.js"></script>
    <script>
        $(function () {

            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
            var errorMessage = '@TempData["ErrorMessage"]'
            if (errorMessage != '')
                alertify.error(errorMessage)
            var alertMessage = '@TempData["AlertMessage"]'
            if (alertMessage != '')
                alertify.alert(alertMessage)
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nepali-calendar').nepaliDatePicker(
                {
                    date: "dd/mm/yyyy"
                }
            );

            //alert(getNepaliDate())
            $('#DisplayTodayDate').html(getNepaliDate())
            $('#submit')[0].reset();
            $(window).on('popstate', function () {
                location.reload(true);
            });

        });

    </script>
    <script>
    $('#filter').on('click', '#SearchBtn', function () {
        debugger;
        var href = '/Directory/DirectoryItem/SearchList';
        //var url = href;

        var anydata = $('#SearchId').val();
        $.get(href, { anydata }, function (data) {
            debugger;
            $('#ResultDisplay').html(data);
        })
    })

    </script>
</body>

</html>

